<%- include('partials/__header_user') %>
<style>
    img{
        background-size: contain;
        width: 1365px;
        height: 400px;
        
        
    }
    
    
</style>
<header>


</header>
    <div>
        <img src="https://elpequenogigante.com/cdn/shop/products/image_29e2de30-fc30-4d1d-9ccf-f5945118a192_1024x1024@2x.jpg?v=1628095950"
            alt="sombrero_calentano">
    </div>




    </body>

    </html>