<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <title>Iniciar Sesión</title>
</head>

<body style="margin: 0; overflow: hidden; position: relative;">
    <div class="row mt-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3 class="text-center">Iniciar Sesión</h3>
            <div class="card text-center" style="background: rgba(255, 255, 255, 0.8); border-radius: 15px; padding: 20px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                <center><img class="mt-4" width="200px" alt="sombrero_calentano"
                        src="https://static.wixstatic.com/media/4964b2_95741359b6804e0ba5f04a4ca8857b5e~mv2.jpg"></center>

                <div class="card-body">
                    <form action="/login" method="post" id="login_form">
                        <div class="form-floating">
                            <input style="text-align: center;" id="correo" name="correo" placeholder="correo@correo.com" class="form-control mt-3">
                            <label for="correo">Correo:</label>
                        </div>
                        <div class="form-floating">
                            <input style="text-align: center;" type="password" id="password" name="password" placeholder="******" class="form-control mt-3">
                            <label for="password">Contraseña:</label>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-primary btn-block" id="btn-acceder">Acceder</button>
                        <br>

                        <div class="alert_error mt-2">
                            <span id="alert_error"></span>
                        </div>

                        <div class="mt-4">
                            <span>No tienes cuenta?</span>
                            <a href="/registrarUsuario">Regístrate</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- estilos -->
    <style>
        .alert_error_true {
            background-color: red;
            color: white;
            border-radius: 5px;
            padding: 5px;
        }

        .btn-primary {
            background-color: #4CAF50;
            border: none;
        }

        .btn-primary:hover {
            background-color: #45a049;
        }

        a {
            color: #4CAF50;
        }

        a:hover {
            color: #45a049;
        }
    </style>

    <!-- scripts -->
    <script>
        const login_form = document.getElementById('login_form');

        login_form.addEventListener('submit', (event) => {
            const correo = document.getElementById('correo').value;
            const password = document.getElementById('password').value;
            const expresionRegularCorreo = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            var alert_error = document.getElementById('alert_error');

            if (correo === "" || password === "" || expresionRegularCorreo.test(correo) != true) {
                alert_error.innerHTML = "Campos vacíos o Correo Inválido";
                alert_error.classList.add('alert_error_true')
                event.preventDefault();
            }
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>
