<%- include('../partials/__header_vendor') %>


    <div style="width: 80%; margin: auto;">
        <canvas id="myChart"></canvas>
    </div>
    <script src="/js/chart.js"></script>
    </body>

    </html>