<%- include ../layouts/cabecera.ejs %>



</br>
<div class="card">
</br>
    <div class="card-header">
        Formulario de captura 
    </div>


    <div class="card-body">
        <h5 class="card-title">Datos de los sombreros</h5>
        <p class="card-text">
<form method="post" action="/vendedor/sombreros/crear" enctype="multipart/form-data">
    <div class="form-group">
        <label for="my-input">Nombre:</label>
        <input id="my-input" class="form-control" type="text" name="nombre">
    </div>
    </br>
    <div class="form-group">
        <label for="my-input">Imagen</label>
        <input id="my-input" class="form-control-file" type="file" name="archivo">
    </div>
    </br>
    <div class="form-group">
        <label for="my-input">Tipo:</label>
        <input id="my-input" class="form-control" type="text" name="tipo">
    </div>
    </br>
    <div class="form-group">
        <label for="my-input">Material:</label>
        <input id="my-input" class="form-control" type="text" name="material">
    </div>
    </br>
    <div class="form-group">
        <label for="my-input">Precio:</label>
        <input id="my-input" class="form-control" type="text" name="precio">
    </div>
    </br>
    <button class="btn btn-success" type="submit">Guardar</button>
    <a class="btn btn-primary" href="/vendedor/sombreros">Cancelar </a>
</form>


        </p>
    </div>
</div>


<%- include ../layouts/pie.ejs %>